/*
main-color: #fd4116
*/

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500);

body {
    background: #FFF;
    font-family: 'Ubuntu', sans-serif;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}

ul > li {
    display:inline-block;
}

ul > li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}

header {
    padding: 5% 0;
    text-align: center;
}

header img {
    display:inline-block !important;
}

@media(max-width:768px) {
    header {
        padding:30px 20px;
    }
}

.slogan {
    margin-top:15px;
    margin-bottom:20px;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
}

.background {
    background: url(../img/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bitpocket-docs header {
    background: url(../img/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.phone {
    display: block;
    text-align: center;
    padding-bottom: 60px;
}
.phone-bg {
    display:inline-block;
    background: url(../img/app-screen-1.png) no-repeat center center;
}

.btn-special {
    width: 100%;
    height:60px;    
    display: block;
    border-radius: 10px;
    text-align: center;
    background: rgba(0,0,0,0.8);
    margin-bottom:20px;
}

.btn-special img {
    width: 160px;   
    height: auto;
}

.top-title, .topic-title {
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0 10px 0;
}

.topic {
    margin-bottom:30px;
}

section {
    padding-bottom: 20px;
}

footer {
    margin: 80px 10px;
}

#block {
    height: 0;
    overflow: hidden;
    -webkit-transition: height 300ms linear;
    -moz-transition: height 300ms linear;
    -o-transition: height 300ms linear;
    transition: height 300ms linear;
}

label {
    cursor: pointer;
}

.anchor-link {
    margin-left:-25px;
    position:absolute;
    bottom:10px;
    left:50%;
    text-align: center;
    padding: 20px;
}

.anchor-link img {
    width: 30px;
}

@media(min-width:768px) {
    .background {
        height: 100vh;
    }
}
@media(max-width:768px) {
    .background {
        padding-bottom:40px;
    }
}

.docs-block .icon {
    margin-right:5px;
    display:inline-block;
    color:white;
    background:#6a6d7a;
    border-radius:50px;
    width:30px;
    height:30px;
    overflow: hidden;
    text-align:center;
    line-height: 1;
    padding-top:7px;
    font-size:16px;
    vertical-align: bottom;
}

.docs-block {
    padding-top:60px;
    padding-bottom:30px;
}

.docs-block + .docs-block {
    border-top:1px solid #6a6d7a;
}
