/*
main-color: #fd4116
*/

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500);

body {
    background: #FFF;
    font-family: 'Ubuntu', sans-serif;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}

ul > li {
    display:inline-block;
}

ul > li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}

header {
    padding: 100px 10px;
}

.logo {
    display: block;
    text-align: center;
    line-height: 70px;
    vertical-align: middle;
}

.slogan {
    display: block;
    text-align: center;
    line-height: 70px;
    vertical-align: middle;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
}

.background {
    background: url(../img/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.phone {
    display: block;
    text-align: center;
    padding-bottom: 60px;
}
.phone-bg {
    background: url(../img/app-screen.png) no-repeat center center;
}

.links-flex-container {
    display: flex;
    flex-wrap: wrap;
}

.link-flex-child {
    width: 100%;
    padding: 20px 0;

}

.link-flex-child-top {

}

.link-flex-child img {
    width: 160px;
    height: auto;
}

.link-flex-child a {
    width: 100%;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    display: block;
    border-radius: 10px;
    text-align: center;
    background: rgba(0,0,0,0.8);
}

.top-title, .topic-title {
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0 10px 0;
}

section {
    padding-bottom: 20px;
}

footer {
    margin: 80px 10px;
}

#block {
    height: 0;
    overflow: hidden;
    -webkit-transition: height 300ms linear;
    -moz-transition: height 300ms linear;
    -o-transition: height 300ms linear;
    transition: height 300ms linear;
}

label {
    cursor: pointer;
}

.anchor-link {
    display: block;
    text-align: center;
    padding: 20px;
}

.anchor-link img {
    width: 30px;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .link-flex-child {
        width: 50%;
    }
    .link-flex-child a {
        width: 210px;
        text-align: left;
    }
    .background {
        height: 100vh;
    }
    .anchor-link {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
    }

    footer {
        margin: 10px;
    }
}